div .progress-bar {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  background-color: white;
  border: solid lightgray 1px;
}
div .progress {
  float: left;
  height: 32px;
  background-color: #A5EBC3;
  border-radius: 1%;
}
p {
  float: right;
  font-family: Arial, sans-serif;
  color: lightgray;
  font-size: 15px;
  margin: 6px;
}
