div .progress-bar {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  background-color: #F1C2CF;
}
div .progress {
  float: left;
  height: 35px;
  background-color: #A5EBC3;
  border: solid 2px #57C28A;
  border-radius: 1%;
}
p {
  float: right;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 15px;
  margin: 6px;
  z-index: 2;
}
button {
  float: left;
  color: black;
}
