div {
  text-align: center;

}
div .month-header{
  width: 100vw;
  height: 46px;
  font-size: 20px;
  background-color: #A5EBC3;
  color: white;
}
h1 {
  margin: 0 auto 20px auto;
  padding: 5px  0 10px 0;
  font-weight: 400;
  font-size: 30px;
}

h4 {
    margin: 0px auto 20px auto;
    color: lightgray;
}

.prevWeekButton{
  position: relative;
  float:left;
  cursor: pointer;
}

.returnToTodayButton{
    position: relative;
}


.nextWeekButton{
    position: relative;
    float:right;
  cursor: pointer;
}

div .clear {
  clear: both;
}

.drag-target-border{
	border: #00bfff solid 2px;
}
.drag-over-border{
	border: #ff525b dashed 2px;
}

.prevWeekButton .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.prevWeekButton .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.prevWeekButton:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.nextWeekButton .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.nextWeekButton .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.nextWeekButton:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.returnToTodayButton .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.returnToTodayButton .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.returnToTodayButton:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}