div {
  text-align: center;

}
h1 {
  margin: 20px auto 20px auto;
  font-weight: 400;
}

.prevWeekButton{
  position: relative;
  float:left;
  cursor: pointer;
  color: #EE9BB2;
}
.nextWeekButton{
    position: relative;
    float:right;
  cursor: pointer;
  color: #EE9BB2;
}

div .clear {
  clear: both;
}

.drag-target-border{
	border: #00bfff solid 2px;
}
.drag-over-border{
	border: #ff525b dashed 2px;
}
