<div>
  <!--<button
    type="button"
    class="prevWeekButton"
    (click)="prevWeek()">prev
      <span class="tooltiptext">Previous Week</span>
  </button>-->

  <!--<button
    type="button"
    class="nextWeekButton"
    (click)="nextWeek()">next
      <span class="tooltiptext">Next Week</span>
  </button>
</div>
<div class="clear"></div>
<div [ngStyle] = "bucketDiv">
<div>-->
  <div class="month-header">
    <div class="month-info container">
      <div class="left-arrow arrow">
        <p
          class="prevWeekButton"
          (click)="prevWeek()"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></p>
      </div>
      <div class="right-arrow arrow">
        <p
          class="nextWeekButton"
          (click)="nextWeek()"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></p>
      </div>


      <div class="month-year">

        <h1>{{getMonth()}}<span class="year">{{getYear()}}</span></h1>

      </div>



    </div>
  </div>

  <div class="clear"></div>

  <div>

    <app-bucket-day *ngFor="let day of days"
                    [today] = day.theDate
                    [todos] = day.todoItems>

    </app-bucket-day>


  </div>
  <p
    class="returnToTodayButton"
    (click)="returnToToday()">Back to Today
  </p>
</div>
