<div class = "container">
  <p
    class="prevWeekButton"
    (click)="prevWeek()"><i class="fa fa-angle-left fa-3x" aria-hidden="true"></i></p>

  <p
    type="button"
    class="nextWeekButton"
    (click)="nextWeek()"><i class="fa fa-angle-right fa-3x" aria-hidden="true"></i></p>
  <h1>{{ today | date:"MMMM" }}</h1>
</div>
<div class="clear"></div>
<div [ngStyle] = "bucketDiv">

  <app-bucket-day *ngFor="let day of days"
                  [today] = day.theDate
                  [todos] = day.todoItems></app-bucket-day>

</div>
