<div class = "container">
  <button
    type="button"
    class="prevWeekButton"
    (click)="prevWeek()">prev
      <span class="tooltiptext">Previous Week</span>
  </button>
  <button
    type="button"
    class="returnToTodayButton"
    (click)="returnToToday()">today
      <span class="tooltiptext">This Week</span>
  </button>
  <button
    type="button"
    class="nextWeekButton"
    (click)="nextWeek()">next
      <span class="tooltiptext">Next Week</span>
  </button>
  <h1>{{getMonth()}}</h1>
  <h4>{{getYear()}}</h4>
</div>
<div class="clear"></div>
<div [ngStyle] = "bucketDiv">

  <app-bucket-day *ngFor="let day of days"
                  [today] = day.theDate
                  [todos] = day.todoItems></app-bucket-day>  

</div>
