div {
  text-align: center;
  margin: 0px 100px 20px 100px;
}
h1 {
  margin: 20px auto 20px auto;
  font-weight: 400;
}

.prevWeekButton{
    position: relative;
    float:left;
}

.nextWeekButton{
    position: relative;
    float:right;
}
