.select{
    display:inline;
}

p{
    display:inline;
}

.wholeEvent{
    background-color: white;
    z-index: 100;
    position:absolute;
    border: solid darkgrey 1px;
}

select{
    float:right;
}

.saveButton{
    float:right;
    position:relative;
    margin-right:5px;
    margin-bottom:5px;
}

.eventTitle{
    margin-left: 5px;
}

.startTimeInput{
    margin-right:5px;
    margin-left:5px;
    margin-top:15px;
}

.finishTimeInput{
    margin-right:5px;
    margin-left:5px;
    margin-top:5px;
}