
<div class = "topwindow"
    [ngStyle] = "styleTop"
    mwlResizable
    [validateResize]="validateTop"
    [resizeEdges]="{bottom: true, right: false, top: false, left: false}"
    [enableGhostResize]="true"
    [resizeSnapGrid]="{bottom: 1, top: 1}"
    (resizeStart)="onResizeStartTop($event)"
    (resizing)="onResizingTop($event)"
    (resizeEnd)="onResizeEndTop($event)">
    
  <app-header></app-header>
  <app-bucket></app-bucket>
</div>
<div class="container"
  class="bottomwindow"
    [ngStyle]="styleBottom"
    mwlResizable
    [validateResize]="validateBottom"
    [resizeEdges]="{bottom: false, right: false, top: true, left: false}"
    [enableGhostResize]="true"
    [resizeSnapGrid]="{bottom: 1, top: 1}"
    (resizeEnd)="onResizeEndBottom($event)"
    (window:resize)="onResize($event)">
  <app-todo-list></app-todo-list>
  <app-todo></app-todo>

</div>


