app-todo{
  float: left;
}
app-todolist {
  float: left;
}

.topwindow{
    position: relative;
    display: block;
    width: 100vw;
    height: 65vh;
    border: solid 1px #121621;
    background-color: white;
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    border-bottom-color: white;

    overflow: auto;
}
div .clear {
  clear: both;
}

.bottomwindow{
    position: relative;
    display: block;
    width: 100vw;
    height: 35vh;
    border: solid 1px #121621;
    background-color: white;
    border-left-color: white;
    border-right-color: white;
    border-top-color: black;
    border-bottom-color: white;

    overflow: auto;
    }

.whole{
    height: 100vh;
}

@media screen and (min-width: 1001px){
  .mobile-page{
    display: none;
  }
}

@media screen and (max-width: 1000px){
  div.whole-app{
    display: none;
  }
  .mobile-page{
    text-align: center;
    width: 100vw;
    height: 100vh;
  }
  .mobile-page .top-green-bar{
    background-color: #A5EBC3;
    width: 100vw;
    height: 20%;
  }
  div.mobile-page .message img {
    width: 50%;
  }
  div.mobile-page .message p {
    font-size: 20px;
    color: #6BC893;
    margin: 20px 0 0 0;
  }
  .mobile-page .message {
    height: 30%;
    padding: 20px;
  }
  .mobile-page .bottom-green-bar{
    background-color: #A5EBC3;
    width: 100vw;
    height: 70%;
  }


}
