div .day-column {
  text-align: center;
  width: 14.26%;
  /*min-height: 75vh;*/
  height: 100%;
  float: left;
  border-left: solid lightgray 1px;
  border-right: solid lightgray 1px;
}
div .droppable {
  width: 95%;
  min-height: 70vh;
  margin-left: 2.5%;
  text-align: left;

}
h3 {
  margin: 0;
  color: #4A4A4A;
  font-size: 18px;
  font-family: Arial, sans-serif;
}
h2 {
  margin: 0 0 10px 0 ;
  color: #4A4A4A;
  font-size: 13px;
  font-family: Arial, sans-serif;

}
ul {
  list-style-type: none;
}
.drag-target-border{ /* this is new 5/22/17*/
  border: #A5EBC3 solid 2px;
}

