div .day-column {
  text-align: center;
  width: 14.26%;
  min-height: 75vh;
  float: left;

  border-left: solid darkgrey 1px;
  border-bottom: solid darkgrey 2px;
  border-right: solid darkgrey 1px;

  border-left: solid darkgrey 1px;
  border-bottom: solid darkgrey 2px;
  border-right: solid darkgrey 1px;
}
div .droppable {
  width: 95%;
  min-height: 70vh;
  margin-left: 2.5%;
  text-align: left;

}
h3 {

  margin: 0;
}
h2 {
  margin: 0 0 10px 0 ;
  font-size: .99em;

}
