<form autocomplete="off" (submit)="searchMethod(searchItem)" (submit)="showDropdown = !showDropdown">
              <input placeholder="Quick search..." type="text" [(ngModel)]="searchItem" name="test">
</form>
<p class="clear-button" (click)="clearSearch()">X</p>
<div class="dropdown" *ngIf="showDropdown">
  <ul>
    <li  *ngFor="let todo of items | async" >
      <p>
      <span *ngIf = "todo.itemName == searchItem2" >
      {{itemFound()}} <!-- an item has been found -->
      Found at List:

      {{parseListName(todo.listname, todo.inList)}}
      {{List_Name}}
        <br />
          <span *ngIf = "todo.checkedOff == true" >
            Item completed
          </span>
          <span *ngIf = "todo.checkedOff == false" >
            Item not done
          </span>
            <br />
            <button (click)="removeItem(todo.$key)">Remove Item</button>
            <br />
          ----------------------------------------------------
        <br />
      </span>

      </p>
    </li>
  </ul>

  <!--this will happen when no searches come up -->

  <span *ngIf = "searchedToggle == true" > <!-- if the search has been conducted -->
  <span *ngIf = "itemFoundToggle == false"> <!-- and no items have been found -->

    {{errorMessage()}} <!-- print message  -->
    {{message}}
  </span>
</span>


</div>
