
<h3> Enter todo here: </h3>
<form (submit)="addTodoItems()">
<input type="text" [(ngModel)]="text" name="test">
</form>
<!--<div droppable [dragOverClass]="'drag-target-border'" (onDrop)="onTodoDrop($event)">-->
<div>
	<h3> TodoList (Drag, drop, or swap these items)</h3>
		<ul>
			<li draggable *ngFor="let todo of items | async "
			[dragOverClass]="'drag-over-border'"
			[dragData]="todo">
			{{todo.Activity.name}}

			<button (click) = "deleteTodoItems(todo.$key)"></button>
			</li>

		</ul>
</div>


<h3> Test multiple todolist </h3>
<h4> Create new list </h4>
<form (submit)="addTodoList()">
	<input type="text" [(ngModel)]="tex4" name="test">
</form>
<ul>
	<li *ngFor="let list of todoLists | async">
	  <span> <h3>	{{list.listName}} </h3> <button (click) = "deleteTodoList(list.$key)">X</button> </span> 
		  <ul>
		  <form (submit)="addTodoItems(list.listName,list.tempActivity)">
				<input type="text" [(ngModel)]="list.tempActivity" name="test">
			</form>
    		<li *ngFor="let todo of items | async">
      		  <span *ngIf= "todo.Activity.listname == list.listName " > 
			      {{todo.Activity.name}}
			      <b> // </b>
			      {{todo.Activity.time}}
			      <b> // </b>
			      {{todo.Activity.priority}}
			      <b> // </b>
			      {{todo.Activity.listname}}
			      
			<button (click) = "deleteTodoItems(todo.$key)"></button>
		  </span>
    		</li>
  		</ul>
</ul>
<h3> End </h3>


<p hidden>This paragraph should be hidden.</p>
<h3> Add todo </h3>
<form >
	<b>Enter Activity</b>
 <input type="text" [(ngModel)]="tex" name="test">
	<b>Enter Priority 1-5 </b>
	<input type="text" [(ngModel)]="tex3" name="test">
	<b>Enter List Number </b>
	<input type="text" [(ngModel)]="tex4" name="test">

 </form>
<button (click) = "addTodoItems(tex4)">Submit Stuff</button>

<div class="list">
  <h3> TodoList </h3>
  <ul>
    <li *ngFor="let todo of items | async">
      <span *ngIf= "todo.Activity.listname == '1' " > 
	      {{todo.Activity.name}}
	      <b> // </b>
	      {{todo.Activity.time}}
	      <b> // </b>
	      {{todo.Activity.priority}}
	      <b> // </b>
	      {{todo.Activity.listname}}
	  </span>

      <!-- {{todo.text}}  -->

      <!--  {{ todo.Activity.title}}      -->
      <!-- <button (click) = "deleteTodoItems(todo.Activity.name)"></button>  -->
    </li>

  </ul>
</div>
<div class="list">
  <h3> TodoList </h3>
  <ul>
    <li *ngFor="let todo of items | async">
      <span *ngIf= "todo.Activity.listname == '2' " > 
	      {{todo.Activity.name}}
	      <b> // </b>
	      {{todo.Activity.time}}
	      <b> // </b>
	      {{todo.Activity.priority}}
	      <b> // </b>
	      {{todo.Activity.listname}}
	  </span>
      <!-- {{todo.text}}  -->

      <!--  {{ todo.Activity.title}}      -->
      <!-- <button (click) = "deleteTodoItems(todo.Activity.name)"></button>  -->
    </li>

  </ul>
</div>

<div class="list">
  <h3> TodoList </h3>
  <ul>
    <li *ngFor="let todo of items | async">
      <span *ngIf= "todo.Activity.listname == '3' " > 
	      {{todo.Activity.name}}
	      <b> // </b>
	      {{todo.Activity.time}}
	      <b> // </b>
	      {{todo.Activity.priority}}
	      <b> // </b>
	      {{todo.Activity.listname}}
	  </span>
      <!-- {{todo.text}}  -->

      <!--  {{ todo.Activity.title}}      -->
      <!-- <button (click) = "deleteTodoItems(todo.Activity.name)"></button>  -->
    </li>

  </ul>
</div>
<div class="list">
  <h3> TodoList </h3>
  <ul>
    <li *ngFor="let todo of items | async">
    <span *ngIf= "todo.Activity.listname == '4' " > 
      {{todo.Activity.name}}
      <b> // </b>
      {{todo.Activity.time}}
      <b> // </b>
      {{todo.Activity.priority}}
    </span>
      <!-- {{todo.text}}  -->

      <!--  {{ todo.Activity.title}}      -->
      <!-- <button (click) = "deleteTodoItems(todo.Activity.name)"></button>  -->
    </li>

  </ul>
</div>

<div class="list">
  <h3> TodoList </h3>
  <ul>
    <li *ngFor="let todo of items | async">
      <span *ngIf= "todo.Activity.listname == '5' " > 
	      {{todo.Activity.name}}
	      <b> // </b>
	      {{todo.Activity.time}}
	      <b> // </b>
	      {{todo.Activity.priority}}
	      <b> // </b>
	      {{todo.Activity.listname}}
	  </span>      <!-- {{todo.text}}  -->

      <!--  {{ todo.Activity.title}}      -->
      <!-- <button (click) = "deleteTodoItems(todo.Activity.name)"></button>  -->
    </li>

  </ul>
</div>

