div .header{
  width: 100vw;
  height: 50px;
  background-color: white;
}
div .logo {
  float: left;
  margin: 3px;
}
img .honeydo {
  width: 108px;
}
div .buttons {
  float: right;
}
div .buttons, a {
  margin: 3px 12px -1px 6px;
}
p{
  font-family: Avenir, Helvetica, sans-serif;
  margin: 13px;
  float: left;
  cursor: pointer;
}
i.fa-caret-down {
  margin: 3px 3px 3px 7px;
  color: black;
  cursor: pointer;
}
img .user-pic{
  float: left;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #f00;
}


div .dropdown{
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    min-height: 33px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

p.button-logout{
  float: left;
  text-align: left;
  padding: 5px;

  margin: 0;
  font-family: Avenir, Helvetica, sans-serif;
}
ul:hover{
  cursor: pointer;
  background-color: #9B9B9B;
}
i.fa-power-off{
  float: right;
  margin: 9px;
  color: darkgrey;
}

ul {
  list-style-type: none;
  padding: 0;
}

