div .header{
  width: 100vw;
  height: 50px;
  background-color: white;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 4px 4px -2px #ACA9A9;
  -moz-box-shadow: 0 4px 4px -2px #ACA9A9;
  box-shadow: 0 4px 4px -2px #ACA9A9;
}
div .logo {
  float: left;
  margin: 3px;
}
img .honeydo {
  width: 108px;
}
div .buttons {
  float: right;
}
div .buttons, a {
  margin: 3px 12px -1px 6px;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #f00;
}


div .dropdown{
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    min-height: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.button-logout{
  text-align: center;
}


ul {
  list-style-type: none;
}

