
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


<!--<nav class="navbar navbar-default">-->
  <!--<div class="container-fluid">-->
    <!--<div class="navbar-header">-->
      <!--<a class="navbar-brand" href="#">-->
        <!--<img alt="Brand" src="../../assets/Full-Logo.png">-->
      <!--</a>-->
      <!--<a href="#" class="navbar-right icon">-->
        <!--<img style="width: 30px; margin-top: 10px;" src="../../assets/user-icon.png" alt="user-icon">-->
      <!--</a>-->
      <!--<a class="btn btn-default logout" (click)="logout()">Logout</a>-->



    <!--</div>-->
  <!--</div>-->
<!--</nav>-->

<div>
  <div class="header">
    <div class="logo">
      <img style="width: 108px; margin: 5px;" src="../../assets/logo.png" alt="logo">
    </div>

    <div class="buttons">
      <p (click)="showDropdownMenu()" class="user">
          {{userData.displayName}}
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </p>

      <img class="user-pic" style="width: 40px; margin-top: 2px; border-radius: 20px " src={{photoURL}} alt="user-icon">
    <div *ngIf="showDropdown" >
    <ul class="dropdown dropdown-menu-center">
    <li> <p class="button-logout" (click) = "logout()">Logout</p><i class="fa fa-power-off" aria-hidden="true"></i>  </li>
    </ul>
</div>



    </div>

  </div>
</div>
