h3 {
  float: left;
  display:inline;
  padding-left: 25%;
  position: relative;
}
.clear {
  clear: both;
}
ul {
  list-style: none;
}
.drag-over-border{
	border: #D1496F dashed 1px;
}
.list-options-button{
  float: right;
	border: none;
  background-color: transparent;
	color: white;
	padding-right: 9px;
	margin-top: -11px;
  font-size: 32px;
}
button.list-options-button:focus, input[type="button"]:focus {
  outline: none;
}
.right p {
  color: black;
  margin: 0;
}

.fa-trash-o{
  float: right;
  margin: 5px;
}

.list-label {
  /*margin-left: 20px;*/
  text-align: center;
  width: auto;
  color: white;
  font-family: Avenir, Helvetica, sans-serif;
}
.todo-list-box {
  margin-right: 20px;
  width: 250px;
  float: left;
  background-color: #4A91B5;
  margin-bottom: 20px;
}
.list-item-box {
  background-color: white;
  margin: 0 auto 20px auto;
  overflow: scroll;
  height: 150px;
  width: 236px;
}
.list-item-box ul {
  padding: 4px;
}
.list-item-box input {
  width: 100%;
}
.add-todo-list-button {
  text-align: center;
  width: 50px;
  height: 50px;
  border: solid #9B9B9B 4px;
  float: left;
  cursor: pointer;
}
.add-todo-list-button p {
  font-size: 40px;
  color: #9B9B9B;
  margin-top: -11px;
}
#listLabelInput {
  float: left;
  margin-right: 5px;

}
.todo-item input.edit-activity{
  width: 160px;
  height: 22px;
  /*border: none;*/
}
.todo-item input {
  -webkit-appearance: none;
  width: 13px;
  height: 13px;
  padding: 3px 0 0 0;
  margin:3px 5px 0 5px;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
  background-color: white;

}
.todo-item input:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: -2px;
  left: 0;

}
.todo-item input:focus, input[type="checkbox"]:focus {
  outline: none;
}
.todo-item {
  margin: 1px 0 auto 0;
  width: 100%;
  height: 34px;
  padding-top: 4px;
  background-color: white;
}

.todo-item div.left{
  float: left;
}
.todo-item div.right{
  float: left;
  background-color: white;
  font-family: Avenir, Helvetica, sans-serif;;
  font-size: 16px;
  font-weight: lighter;
  cursor: move;
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  margin: 0;

}
.dropdown {
  margin-left: -14px;
  margin-right: 7px;
  width: 150px;
  min-height: 190px;
  background-color: white;
  float: left;
  box-shadow: 1px 1px 7px #888888;
}

.dropdown-content{
  position: relative;
  z-index: 1;
}

.dropdown-content p {
  cursor: pointer;
  padding: 10px;
  font-family: Helvetica, sans-serif;
}
.dropdown-content p:hover {
  background-color: lightgray;
}
.dropdown-content div .color-button {
  width: 100%;
  height: 40px;

}
.dropdown-content div.color-button:hover {
  background-color: lightgray;
}
.color-button .circle {
  margin: 5px 14px 5px 10px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  float: left;
}
.color-button .circle .default {
  background-color: #4A91B5;
}
.color-button .circle .green {
  background-color: #a4d400;
}
.color-button .circle .pink {
  background-color: #f200a3;
}
.color-button .circle .blue {
  background-color: #33d4e0;
}

.label-input-form-holder {
  float: left;
  padding: 5px;
}
.has-border{
  border: solid 2px #6BC893;
}
div .addList{
  padding: 2px;
  float: left;
  width: 62px;
  height: 29px;
  border: solid 2px #EE9BB2;
  margin-top: -8px;
  font-family: Avenir, Helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
  background-color: white;
}
p.escape {
  float: right;
  color: #EE9BB2;
  margin: 0;
  cursor: pointer;
}
div.add-todo-list-button{
  background-color: white;
}

.fa-question-circle-o{
  font-size: 14px;
  position: relative;
  padding-left: 5px;
  padding-top:5px;
  float:left;
  display:inline;
  /*margin-top: 10%;*/
}

.fa-question-circle-o .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 125%;  
    /*margin-left: -60px;*/
    opacity: 0;
    transition: opacity 1s;
    font-size: 15px;
}

.fa-question-circle-o .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.fa-question-circle-o:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.drag-target-border{ /* this is new 5/22/17*/
  border: black solid 2px;
}

/*Custom list color styles*/
.default {
  background-color: #4A91B5;
  color: #4A91B5;
}
.default-border {
  border-bottom: solid 1px #4A91B5;
}
.default-checkbox {
  border: solid 1px #4A91B5;
}
.green {
  background-color: #a4d400;
  color: #a4d400;
}
.green-border{
  border-bottom: solid 1px #a4d400;
}
.green-checkbox{
  border: solid 1px #a4d400;
}
.pink{
  background-color: #f200a3;
  color: #f200a3;
}
.pink-border{
  border-bottom: solid 1px #f200a3;
}
.pink-checkbox{
  border: solid 1px #f200a3;
}
.blue{
  background-color: #33d4e0;
  color: #33d4e0;
}
.blue-border{
  border-bottom: solid 1px #33d4e0;
}
.blue-checkbox{
  border: solid 1px #33d4e0;
}