
<!--<div droppable [dragOverClass]="'drag-target-border'" (onDrop)="onTodoDrop($event)">-->
<div>
	<h3> TodoList (Drag, drop, or swap these items)</h3>
		<ul>
			<li draggable *ngFor="let todo of items | async "
			[dragOverClass]="'drag-over-border'"
			[dragData]="todo">
			{{todo.Activity.name}}

			<button (click) = "deleteTodoItems(todo.$key)"></button>
			</li>

		</ul>
</div>


<button (click) = 'showInput();' class="btn btn-primary">Add new List</button>


<form  class="form-control" (submit)="addTodoList()" *ngIf="needName" #nameInput  >
	<input type="text" [(ngModel)]="tex4" name="test">
</form>
<ul>
	<li *ngFor="let list of todoLists | async">
	  <span> <h3>	{{list.listName}} </h3> <button (click) = "deleteTodoList(list.$key)">X</button> </span> 
		  <ul>
		  <form (submit)="addTodoItems(list.listName,list.tempActivity)">
				<input type="text" [(ngModel)]="list.tempActivity" name="test">
			</form>
    		<li *ngFor="let todo of items | async">
      		  <span *ngIf= "todo.Activity.listname == list.listName " > 
			      {{todo.Activity.name}}
			      <b> // </b>
			      {{todo.Activity.time}}
			      <b> // </b>
			      {{todo.Activity.priority}}
			      <b> // </b>
			      {{todo.Activity.listname}}
			      
			<button (click) = "deleteTodoItems(todo.$key)"></button>
			
		 	 </span>
    		</li>
  		</ul>
</ul>
