




  <ul>
    <li droppable class="droppable" *ngFor="let list of todoLists | async" (onDrop)="onTodoDrop($event,list.listName,list.$key)">
      <div class="todo-list-box" [ngClass]="list.color">
        <div class="list-label"> 
          <i class="fa fa-question-circle-o" aria-hidden="true">
            <span class="tooltiptext">Use list to organize your task into categories, then drag them to the calendar to plan them out</span>
          </i>
          <h3>  {{list.listName}} </h3>
          <button class="list-options-button" (click)="displayDropdown(list.$key)">&#8230;</button>

           </div>
        <div class="clear"></div>
        <div class="list-item-box">
          <ul>
            <form autocomplete="off" (submit)="addTodoItems(list.listName, list.tempActivity, list.color, list.$key)">
              <input placeholder="Press Enter to add todo" type="text" [(ngModel)]="list.tempActivity" name="test">
            </form>

            <li draggable *ngFor="let todo of items | async" [dragOverClass]="'drag-over-border'"
                      [dragData]="todo.$key">
              <!--<div droppable class="droppable" [dragOverClass]="'drag-target-border'" (onDrop)="onTodoDrop($event,todo.listname)">-->
                <span  *ngIf= "todo.listname == list.listName" >
                  <!--<div id="myItem" class="todo-item">-->
                    <!--<div class="left">-->
                   <!--<input [ngClass]="list.checkboxStyle" type="checkbox" value="true" [(ngModel)]="todo.checkedOff" (click)="itemChecked(todo.$key)">-->
                 <!--</div>
                 <div class="right">
                   {{todo.Activity.name}}
                 </div>-->
                 <!--<p class="item-delete-button" (click) = "deleteTodoItems(todo.$key)">&#8942;</p>-->
                  <div class="todo-item" [ngClass]="list.color + '-border'">
                    <div class="left">
                      <input [ngClass]="list.color + '-checkbox'" type="checkbox" (change)="itemChecked(todo.$key,this.todo.checkedOff)" [(ngModel)]="this.todo.checkedOff">
                    </div>
                  <div class="right">
                   <p>{{todo.Activity.name}}</p>
                  </div>
                    <i (click) = "deleteTodoItems(todo.$key)" class="fa fa-trash-o item-delete-button" aria-hidden="true"></i>
               </div>
              </span>
              <!--</div>-->
            </li>

          </ul>
        </div>
      </div>
      <!--<div class="dropdown" *ngIf="list.showDropdown">-->
        <div class = "dropdown" [style.position]="list.showDropdown ? 'relative' : 'absolute'">
        <div id="myDropdown" class="dropdown-content">
          <div class="color-button" (click)="setBackground('default',list.$key)"><div class="circle default"></div><p>Default</p></div>
          <div class="color-button" (click)="setBackground('green',list.$key)"><div class="circle green"></div><p>Bright Green</p></div>
          <div class="color-button" (click)="setBackground('pink',list.$key)"><div class="circle pink"></div><p>Bright Pink</p></div>
          <div class="color-button" (click)="setBackground('blue',list.$key)"><div class="circle blue"></div><p>Bright Blue</p></div>
          <p (click) = "deleteTodoList(list.$key,list.listName)">Delete</p>
        </div>
      </div>
    </li>
  </ul>



<div class="label-input-form-holder" [ngClass]="{ 'has-border': needName == true }">
  <form  (submit)="addTodoList()" *ngIf="needName" #nameInput  >
    <input placeholder="Add Category..." id="listLabelInput" type="text" [(ngModel)]="tex4" name="test">
    <br>
    <br>
    <div class="addList" (click)="addTodoList()"><p>Create</p></div>
    <p class="escape" (click)="needName = false">X</p>
  </form>
  <div class="add-todo-list-button" (click) = 'showInput();' *ngIf="needName == false"><p>+</p></div>
</div>
