h3 {
  float: left;
}
.clear {
  clear: both;
}
ul {
  list-style: none;
}
.drag-over-border{
	border: #ff525b dashed 2px;
}
.list-options-button{
  float: right;
	border: none;
  background-color: transparent;
	color: white;
	padding-right: 9px;
	margin-top: -11px;
  font-size: 32px;
}
button.list-options-button:focus, input[type="button"]:focus {
  outline: none;
}
.item-delete-button {
  float: right;
  margin-right: 5px;
  width: 2px;
  font-size: 16px;
  /*background-color: #ff525b;*/
}
.list-label {
  margin-left: 20px;
  text-align: center;
  width: auto;
  color: white;
  font-family: Avenir, Helvetica, sans-serif;
}
.todo-list-box {
  margin-right: 20px;
  width: 250px;
  float: left;
  background-color: #4A91B5;
  margin-bottom: 20px;
}
.list-item-box {
  background-color: white;
  margin: 0 auto 20px auto;
  overflow: scroll;
  height: 150px;
  width: 236px;
}
.list-item-box ul {
  padding: 4px;
}
.list-item-box input {
  width: 100%;
}
.add-todo-list-button {
  text-align: center;
  width: 50px;
  height: 50px;
  border: solid #9B9B9B 4px;
  float: left;
  cursor: pointer;
}
.add-todo-list-button p {
  font-size: 40px;
  color: #9B9B9B;
  margin-top: -11px;
}
#listLabelInput {
  float: left;
  margin-right: 5px;

}
.todo-item input {
  width: 13px;
  height: 17px;
  padding: 3px 0 0 0;
  margin:3px 5px 0 5px;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}
.todo-item {
  margin: 1px 0 auto 0;
  width: 100%;
  height: 34px;
  padding-top: 4px;
  background-color: white;
  border-bottom: solid #4A91B5 1px;
}

.todo-item div.left{
  float: left;
}
.todo-item div.right{
  float: left;
  background-color: white;
  font-family: Avenir, Helvetica, sans-serif;;
  font-size: 16px;
  font-weight: lighter;
  cursor: move;
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  margin: 0;

}
.dropdown {
  margin-left: -14px;
  margin-right: 7px;
  width: 150px;
  min-height: 190px;
  background-color: white;
  float: left;
  box-shadow: 1px 1px 7px #888888;
}

.dropdown-content p {
  cursor: pointer;
  padding: 10px;
  font-family: Helvetica, sans-serif;
}
.dropdown-content p:hover {
  background-color: lightgray;
}
.dropdown-content div .color-button {
  width: 100%;
  height: 40px;

}
.dropdown-content div.color-button:hover {
  background-color: lightgray;
}
.color-button .circle {
  margin: 5px 14px 5px 10px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  float: left;
}
.color-button .circle .default {
  background-color: #4A91B5;
}
.color-button .circle .green {
  background-color: #a4d400;
}
.color-button .circle .pink {
  background-color: #f200a3;
}
.color-button .circle .blue {
  background-color: #33d4e0;
}

.label-input-form-holder {
  margin-left: 52px;
}


/*<<<<<<< HEAD*/
.drag-target-border{ /* this is new 5/22/17*/
  border: black solid 2px;
}
=======
/*Custom list color styles*/
.default {
  background-color: #4A91B5;
}
.green {
  background-color: #a4d400;
}
.pink{
  background-color: #f200a3;
}
.blue{
  background-color: #33d4e0;
}
/*>>>>>>> cc1e482aa4b2e89c49dae5b90866baa1bab50fa4
*/