h3 {
  float: left;
}
.clear {
  clear: both;
}
ul {
  list-style: none;
}
.drag-target-border{
	border: #00bfff solid 2px;
}
.drag-over-border{
	border: #ff525b dashed 2px;
}
.list-delete-button{
  float: right;
	border: none;
  background-color: transparent;
	color: white;
	padding-right: 9px;
	margin-top: -11px;
  font-size: 32px;
}
.item-delete-button {
  background-color: #ff525b;
}
.list-label {
  margin-left: 20px;
  text-align: center;
  width: auto;
  color: white;
  font-family: Avenir, Helvetica, sans-serif;
}
.todo-list-box {
  margin-right: 20px;
  width: 250px;
  float: left;
  background-color: #4A91B5;
}
.list-item-box {
  width: 236px;
  background-color: white;
  margin: 0 auto 20px auto;
}
.list-item-box ul {
  padding: 4px;
}
.list-item-box input {
  width: 100%;
}
.add-todo-list-button {
  text-align: center;
  width: 50px;
  height: 50px;
  border: solid #9B9B9B 4px;
  float: left;
  cursor: pointer;
}
.add-todo-list-button p {
  font-size: 40px;
  color: #9B9B9B;
  margin-top: -11px;
}
#listLabelInput {
  float: left;
  margin-right: 5px;

}
