
  <ul>
    <li droppable class="droppable" *ngFor="let list of todoLists | async" (onDrop)="onTodoDrop($event,list.listName,list.$key)">
      <div class="todo-list-box" [ngClass]="list.color">
          <div class="list-label"> <h3>  {{list.listName}} </h3> </div>
        <form autocomplete="off" (submit)="editListName(list.$key, list.listName,list.tempListName)">
                      <input placeholder="Edit List Name" type="text" [(ngModel)]="list.tempListName" name="test">
        </form>

        <div class="list-label">

          <button class="list-options-button" (click)="displayDropdown(list.$key)">&#8230;</button>

           </div>
        <div class="clear"></div>
        <div class="list-item-box">
          <ul>
            <form autocomplete="off" (submit)="addTodoItems(list.listName, list.tempActivity, list.color, list.$key)">
              <input placeholder="Add to-do" type="text" [(ngModel)]="list.tempActivity" name="test">
            </form>

            <li draggable *ngFor="let todo of items | async" [dragOverClass]="'drag-over-border'"
                      [dragData]="todo.$key">
                <span  *ngIf= "todo.listname == list.listName" >
                  <div class="todo-item" [ngClass]="list.color + '-border'">
                    <div class="left">
                      <input [ngClass]="list.color + '-checkbox'" type="checkbox" (change)="itemChecked(todo.$key,this.todo.checkedOff)" [(ngModel)]="this.todo.checkedOff">
                    </div>
                  <div class="right">
                    <form autocomplete="off" (submit)="editItem(todo.$key,todo.Activity.name)">
                                  <input class="edit-activity" placeholder="Edit Item" type="text" [(ngModel)]="todo.Activity.name" name="test">
                    </form>
                  </div>
                    <i (click) = "deleteTodoItems(todo.$key)" class="fa fa-trash-o item-delete-button" aria-hidden="true"></i>
               </div>
              </span>
            </li>

          </ul>
          <div class="dropdown" *ngIf="list.showDropdown">
            <div id="myDropdown" class="dropdown-content">
              <div class="color-button" (click)="setBackground('default',list.$key)"><div class="circle default"></div><p>Default</p></div>
              <div class="color-button" (click)="setBackground('green',list.$key)"><div class="circle green"></div><p>Bright Green</p></div>
              <div class="color-button" (click)="setBackground('pink',list.$key)"><div class="circle pink"></div><p>Bright Pink</p></div>
              <div class="color-button" (click)="setBackground('blue',list.$key)"><div class="circle blue"></div><p>Bright Blue</p></div>
              <p (click) = "deleteTodoList(list.$key,list.listName)">Delete</p>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="dropdown" *ngIf="list.showDropdown">-->
        <!--<div id="myDropdown" class="dropdown-content">-->
          <!--<div class="color-button" (click)="setBackground('default',list.$key)"><div class="circle default"></div><p>Default</p></div>-->
          <!--<div class="color-button" (click)="setBackground('green',list.$key)"><div class="circle green"></div><p>Bright Green</p></div>-->
          <!--<div class="color-button" (click)="setBackground('pink',list.$key)"><div class="circle pink"></div><p>Bright Pink</p></div>-->
          <!--<div class="color-button" (click)="setBackground('blue',list.$key)"><div class="circle blue"></div><p>Bright Blue</p></div>-->
          <!--<p (click) = "deleteTodoList(list.$key,list.listName)">Delete</p>-->
        <!--</div>-->
      <!--</div>-->
    </li>
  </ul>




<div class="label-input-form-holder" [ngClass]="{ 'has-border': needName == true }">
  <form  (submit)="addTodoList()" *ngIf="needName" #nameInput  >
    <input placeholder="Add Category..." id="listLabelInput" type="text" [(ngModel)]="tex4" name="test">
    <br>
    <br>
    <div class="addList" (click)="addTodoList()"><p>Create</p></div>
    <p class="escape" (click)="needName = false">X</p>
  </form>
  <div class="add-todo-list-button" (click) = 'showInput();' *ngIf="needName == false"><p>+</p></div>
</div>
