<head>
  <title>Honey Do</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>

  </style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="../../assets/logo.png" alt="HoneyDo" style="width: 200px"></a>
    </div>
<div style="width: 100%">
    <button class='google' 	(click)="socialLogin('google')" style="float: right;" >
      <i class="fa fa-google" aria-hidden="true"></i> Login With Google</button>
   <button  class="facebook" (click)="socialLogin('facebook')" md-raised-button style="float: right; margin-right: 20px;">
      <i class="fa fa-facebook" ></i> Login With Facebook
</button>
</div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">What is this?</h3>
  <h3>The product is a To-do/Calendar web application that allows users to assign to-do’s to different days of the week. We plan to add plenty of features and customization options that will enhance the functionality of a simple to-do app.
</h3>
<img src="https://i.gyazo.com/e3d0d70e54c55db116e72b90a047a13a.png" alt="https://gyazo.com/e3d0d70e54c55db116e72b90a047a13a" width="1351"/>
</div>


<!-- Second Container (Grid) -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Features</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p> Drag and Drop Functionality </p>
<img src="https://i.gyazo.com/9853111d9693c950e558b3fb184935af.gif" alt="https://gyazo.com/9853111d9693c950e558b3fb184935af" width="350"/>
    </div>
    <div class="col-sm-4">
      <p>Progress Bar</p>
      <img src="birds2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>Weekly View</p>
      <img src="birds3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-3 text-center">
  <p> Created by Sydney Flak, Ryan Ho, David Ip, Anthony Nguyen, Michael Wong </p>
  <p>2017</p>
</footer>

</body>

<script>
$(window).click(function(e){
    $scope.item.showLimit = false;
});
$('.set-limit').click(function(e){
    e.stopPropagation();
});
</script>
