<head>
  <title>Honey Do</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>

  </style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="../../assets/logo.png" alt="HoneyDo" style="width: 200px"></a>
    </div>
<div style="width: 100%">
    <button class='google' 	(click)="socialLogin('google')" style="float: right;" >
      <i class="fa fa-google" aria-hidden="true"></i> Login With Google</button>
   <button  class="facebook" (click)="socialLogin('facebook')" md-raised-button style="float: right; margin-right: 20px;">
      <i class="fa fa-facebook" ></i> Login With Facebook
</button>
</div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">About</h3>
  <h3>HoneyDo is designed to help you stay on track. With a dual split screen view, it’s easy to add tasks from a to-do list to any day of the week. Customize your calendar with an assortment of color options and brighten up your day! 
</h3>
<img src="https://i.gyazo.com/99bb21d64a8bc688e1253c4d26cc550d.png" alt="https://gyazo.com/99bb21d64a8bc688e1253c4d26cc550d" width="1344"/>
</div>


<!-- Second Container (Grid) -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Features</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p> Drag and Drop Functionality </p>
<img src="https://i.gyazo.com/9853111d9693c950e558b3fb184935af.gif" alt="https://gyazo.com/9853111d9693c950e558b3fb184935af" width="350"/>
    </div>
    <div class="col-sm-4">
      <p>Progress Bar</p>
<img src="https://i.gyazo.com/ad52c2bcd2fde4f3e3aa024443498101.gif" alt="https://gyazo.com/ad52c2bcd2fde4f3e3aa024443498101" width="400"/>
    </div>
    <div class="col-sm-4">
      <p>Weekly View</p>
<img src="https://i.gyazo.com/0ab93ab1c8b18304db07e3ae20b382ff.gif" alt="https://gyazo.com/0ab93ab1c8b18304db07e3ae20b382ff" width="400"/>
    </div>
     <div class="col-sm-4">
      <p>Colored Coded Items</p>
<img src="https://i.gyazo.com/dbe2740c28b386d47f57e98d1036a15d.png" alt="https://gyazo.com/dbe2740c28b386d47f57e98d1036a15d" width="963"/>
    </div>
  </div>



</div>
<div class="team">
  <div style="width: 100%; text-align: center">
    <h2>Meet the Team!</h2>
  </div>


  <div class="section">
    <div class="picture">
      <img src="../../assets/ryan.jpg" alt="ryan">
    </div>
    <div class="info">
      <p><span class="name">Ryan Ho</span><br/> Hi, I was born and raised in Los Angeles and am currently a student at UC Santa Cruz majoring in computer science. I mostly worked on the backend of project, making individual components work with the firebase. </p>
    </div>
  </div>
  <div class="clear"></div>
  <div class="section">
    <div class="picture">
      <img src="../../assets/david.jpg" alt="david">
    </div>
    <div class="info">
      <p><span class="name">David Ip</span><br/>Hi, my name is David Ip. I’m part of a creative team of elite software engineers and developers at Project Team 1. I am frequently seen at the café, with nothing on my mind other than the smell of a freshly brewed cup of Gatomboya Kenya. That’s all folks!</p>
    </div>
  </div>
  <div class="clear"></div>
  <div class="section">
    <div class="picture">
      <img src="../../assets/sydney.jpg" alt="sydney">
    </div>
    <div class="info">
      <p><span class="name">Sydney Flak</span><br/>She is the product owner for this project. She came up with the
      idea for HoneyDo when she couldn't find any online organizers that suited her needs. She wanted something
      easy to use, that didn't make things over complicated, or have too many useless features. She took on the role
      of UI/UX designer for HoneyDo!</p>
    </div>
  </div>
  <div class="clear"></div>
  <div class="section">
    <div class="picture">
      <img src="../../assets/michael.jpg" alt="michael">
    </div>
    <div class="info">
      <p class = "nameMichael"><span class="name">Michael Wong</span><br/>Michael Wong, born Channing Tatum Jr., was born into slavery along with his mother.  They both worked for a trader but young
Michael had a talent and passion for something bigger.  He had a knack for racing.  Eventually he was able to race his way out of slavery and went to live with a group of monks that trained him in their ways.  However, despite his best
efforts, he could never seem to please them.  In an act of rebellion, he married his childhood sweetheart even though it was 
forbidden.  As Michael grew up and became better and better at being a monk under the tutelage under his close friend and mentor, Ben,he 
had a horrible feeling that his way of life would change.  Finding no answers from the other monks, he went to his friend Sheev for
advice.  Sheev promised to help him as long as he would never leave him.  Suspicious of this request, Michael went to one of the
head monks to tell him what had happened.  However, the head monk tried to kill his friend and Michael could not let that happen.  Michael
realized the error in the monks' ways and freed all the children in the temple.  Unfortunately Michael's wife brought his mentor Ben to
kill him.  After a fierce fight, Ben walked away leaving Michael to die from his wounds.  But then Michael was save by his friend Sheev and there began the reign
of Lord Vader.
</p>
    </div>
  </div>
  <div class="clear"></div>
  <div class="section">
    <div class="picture">
      <img src="../../assets/anthony.jpg" alt="anthony">
    </div>
    <div class="info">
      <p><span class="name">Anthony Nguyen</span><br/> Check out my reddit r/user/ASAPLarryDavid/ .  On my free time, I lurk r/PalaceClothing, r/streetwear, r/television, and r/Askreddit and other dank memes.</p>
    </div>
  </div>

</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p> Created by Sydney Flak, Ryan Ho, David Ip, Anthony Nguyen, Michael Wong </p>
  <p>&copy;2017</p>
</footer>

</body>

<script>
$(window).click(function(e){
    $scope.item.showLimit = false;
});
$('.set-limit').click(function(e){
    e.stopPropagation();
});
</script>
