div .loginbox {
	margin-left:auto;
	margin-right:0;

}

.google {
    background-color: #d62d20;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.facebook {
    background-color: #3b5998;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

ul {
  list-style-type: none;
}

li{
	text-align: center;
}

	body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }

.team {
  color: #3b5998;
}
.team h2 {
  font-size: 50px;
}
.picture img {
  width: 400px;
  padding: 20px;
  float: left;
}
.section {
  height: 405px;
  margin: 30px;
  background-color: lightgray;
}
.section .info{
  float: left;
  padding: 30px;
  text-align: left;
  font-size: 20px;
  width: 70%;
}
.section .info .name {
  font-size: 50px;
}
.section .info p {
  margin-bottom: 15px;
}
.clear {
  clear: both;
}
